.horizontal-btm {
  list-style: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0;
}

#show-item {
  -webkit-transition: all .5s ease-in-out
}


.awb-primary-item{
  display: inline !important;
  width: 50px;
  height: 50px;
  position: fixed !important;
  border-radius: 50%;
  left: 48% !important;
  bottom: 10% !important;
  background-color: #B2003F;
  -webkit-transition: all .5s ease-in-out

}
.awb-primary-item.out{
  -webkit-transform: rotate(45deg);
}
.awb-primary-item > i{
  padding-top: 18px !important;
}

.horizontal-btm > li {
  display: inline;
  width: 50px;
  height: 50px;
  bottom: -20%;
  position: fixed;
  background-color: #084E83;
  /*border-radius: 50%;*/
}


.awb-item-1{
  left: 15%;
  -webkit-transition: all .5s ease-in-out
}

.awb-item-2{
  left: 25%;
  -webkit-transition: all .75s ease-in-out
}

.awb-item-3{
  left: 35%;
  -webkit-transition: all 1s ease-in-out
}

.awb-item-4{
  right: 15%;
  -webkit-transition: all .5s ease-in-out
}

.awb-item-5{
  right: 25%;
  -webkit-transition: all .75s ease-in-out
}

.awb-item-6{
  right: 35%;
  -webkit-transition: all 1s ease-in-out
}

.out{
  border-radius: 50%;
  background-color: #E73071 !important;
}

.out:hover{
  transition: .5s ease;
  background-color: #B2003F;
}

.awb-item-1.out{
  bottom: 10%;
}

.awb-item-2.out{
  bottom: 10%;
}

.awb-item-3.out{
  bottom: 10%;
}

.awb-item-4.out{
  bottom: 10%;
}

.awb-item-5.out{
  bottom: 10%;
}

.awb-item-6.out{
  bottom: 10%;
}
.awb-icon-white{
  color: white;
  padding-top: 16px;
}
/*tooltip*/

.awb-tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-bottom: 7px;
    margin-left: -60px;
}

.awb-tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    border-top: 5px solid black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: -5px;
    border-width: 5px;
}
